body {
  font-family: sans-serif;
  background-color: rgb(40, 39, 58);
}
aside {
  width: 500px;
  position: right;
  border: 0px;
  border-radius: 30px;
  background-color: rgba(67, 79, 112, 0.8);
}
.siteheader {
  background-color: rgba(67, 79, 112, 0.8);
  width: 390px;
  border-radius: 10px;
  border: 0px;
  font-family: sans-serif;
  font-size: 40px;
  text-align: end;
  color: white;
  padding-right: 5px;
}
.button {
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  border: 0px;
  background-color: rgb(57, 52, 75);
  font-size: 30px;
  color: white;
}

.division,
.point,
.AC {
  width: 75px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(194, 194, 194, 0.541);
  font-weight: 600;
}

.equall {
  background-color: rgba(35, 86, 252, 0.589);
}

.AC {
  background-color: rgba(143, 68, 68, 0.719);
}

.leftsidebar {
  width: 150px;
  align-self: left;
}

p {
  margin-top: 0.9px;
  margin-bottom: 0.9px;
}
.aside {
  align-content: right;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  color: green;
  background-color: hotpink;
}

.activity:hover {
  color: green;
}
